/* Ensures the theme toggle icons switch correctly */
.dark .fa-sun {
    display: block;
}
.dark .fa-moon {
    display: none;
}
html:not(.dark) .fa-sun {
    display: none;
}
html:not(.dark) .fa-moon {
    display: block;
}

/* Blinking cursor animation */
.blinking-cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}